/* CELLS */

.cells {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 50px;
}
@media (max-width: 992px) {
  .cells {
    padding: 0 30px;
  }
}

.cells_item {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  box-sizing: border-box;
  padding: 4px;
  border-right: 1px solid var(--hover-bg-color);
  background: var(--cell-color);
  word-break: break-word;
}

.cells_item:hover {
  background: var(--hover-bg-color);
}

.cells_item--current {
  background: var(--light-bg-color);
}

.cells_item--target {
  border: 1px solid var(--primary-color);
}
