:root {
  --main-bg-color: #181f33;
  --dark-bg-color: #0d111c;
  --light-bg-color: #283456;
  --hover-bg-color: #232d4a;
  --cell-color: #131827;
  --text-color: #f4f4f4;
  --primary-color: #0c8aef;
  --green-color: #07e092;
  --red-color: #fd6579;
  --orange-color: #f6a259;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 300px 1fr 360px;
}
.header_title {
  padding: 0 20px;
}

.main {
  height: calc(100vh - 80px);
  overflow: hidden;
}

.main_wrapper {
  display: grid;
  grid-template-columns: 300px 1fr 360px;
  height: 100%;
  overflow: auto;
}

.main_wrapper::-webkit-scrollbar {
  width: 0;
}

.text-input {
  height: 32px;
  padding: 0 10px;
  background: var(--hover-bg-color);
  color: var(--primary-color);
  border: none;
  border-radius: 6px;
}

.text-input:focus {
  outline: 1px solid var(--primary-color);
}

.btn {
  height: 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:focus {
  outline: 1px solid var(--primary-color);
}

.btn--outline {
  box-sizing: border-box;
  background: var(--light-bg-color);
  color: var(--primary-color);
}

.btn--outline:hover {
  background: var(--primary-color);
  color: #0d111c;
}

/* TIMELINE */

.timeline {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.timeline_btn {
  background: none;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}
.timeline_btn:hover {
  background: var(--dark-bg-color);
}

.timeline_btn:hover svg path {
  stroke: var(--text-color);
  stroke-width: 2;
}

.timeline_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.timeline_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline_item:hover {
  background: var(--hover-bg-color);
}

.timeline_item--today {
  color: var(--primary-color);
  background: var(--light-bg-color);
}

/* USERS */

.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users_item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 90px;
  padding: 11px;
  background: var(--light-bg-color);
}

.users_item:hover {
  background: var(--hover-bg-color);
}

/* CELLS */

.cells {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  padding: 0 50px;
}

.cells_item {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  height: 90px;
  box-sizing: border-box;
  padding: 4px;
  border-right: 1px solid var(--hover-bg-color);
  background: var(--cell-color);
  word-break: break-word;
}

.cells_item:hover {
  background: var(--hover-bg-color);
}

.cells_item--current {
  background: var(--light-bg-color);
}

.cells_item--target {
  border: 1px solid var(--primary-color);
}

/* BACKLOG */

.backlog {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  padding: 10px 20px;
  box-sizing: border-box;
  background: var(--light-bg-color);
  overflow: hidden;
}

.backlog_search {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.backlog_task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow: auto;
}

.backlog_task-list::-webkit-scrollbar {
  width: 10px;
  background-color: var(--light-bg-color);
}
.backlog_task-list::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--hover-bg-color);
}

.backlog_task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px;
  background: var(--main-bg-color);
  cursor: grab;
}

.backlog_task:hover {
  background: var(--hover-bg-color);
}

.backlog_task::before,
.backlog_task::after {
  display: none;
  content: '';
  opacity: 0;
}

.backlog_task:hover::after /* .tooltip */ {
  content: attr(data-start);
  position: absolute;
  top: 40px;
  width: 200px;
  height: 100px;
  z-index: 50;
  color: var(--text-color);
  background: var(--main-bg-color);
  border: 1px solid var(--light-bg-color);
  opacity: 1;
  transition: all 0.3s ease 1s;
}

.backlog_task:hover::before {
  content: '';
  position: absolute;
  top: 32px;
  z-index: 55;
  transform: translateY(-50%);
  border: 10px solid var(--main-bg-color);
  border-color: transparent transparent var(--main-bg-color) transparent;
  opacity: 1;
  transition: opacity 0.3s ease 1s;
}

.backlog_task--selected {
  opacity: 0.5;
}

/* TASK */

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px;
  font-size: 12px;
  background: var(--primary-color);
}

.task:hover {
  color: var(--primary-color);
  background: var(--main-bg-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.task--done {
  background: var(--green-color);
}

.task--inprocess {
  background: var(--orange-color);
}

.task--urgent {
  background: var(--red-color);
}

.task--failed {
  color: #adadad;
  background: #e7e7e7;
}

/* PRELOADER */

.preloader {
  min-height: 42px;
  background-color: var(--main-bg-color);
}

@keyframes preloaderAnimation {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: preloaderAnimation;
  animation-timing-function: linear;
  background: var(--hover-bg-color);
  background: linear-gradient(
    to right,
    var(--main-bg-color) 0%,
    var(--hover-bg-color) 16%,
    var(--main-bg-color) 33%
  );
  background-size: 1000px 80px;
  height: 42px;
  position: relative;
}
