/* USERS */

.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users_row {
  display: grid;
  grid-template-columns: 15% 1fr 20%;
  grid-template-areas: 'users cells';
}
@media (max-width: 992px) {
  .users_row {
    grid-template-columns: 20% 1fr;
  }
}
@media (max-width: 768px) {
  .users_row {
    grid-template-columns: 40% 1fr;
  }
}

.users_item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 90px;
  padding: 11px;
  background: var(--light-bg-color);
}
@media (max-width: 768px) {
  .users_item {
    height: 60px;
    margin-left: 10px;
    border-radius: 10px;
  }
}

.users_item:hover {
  background: var(--hover-bg-color);
}
